.App {
  text-align: center;
  background-color: antiquewhite;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#setup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container #value-container,
#button-container {
  flex-direction: row;
  margin: 0;
}

#break-length,
#session-length {
  width: 30px;
  text-align: center;
  height: 20px;
}

button {
  width: fit-content;
  margin: 5px;
}
h3 {
  margin-top: 0;
  margin-bottom: 5px;
}
h4 {
  margin: 0px;
}
